* {
    padding: 0px;
    margin: 0px;
    color:#040f16;
}

.home-background {
    height: 100vh;
    background-image: url('images/basketball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-hero{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    border: solid #040f16 10px;
    border-radius: 20%;
}

.home-text {
    background-color: #f7f4f3;
}


.create-background {
    height: 100vh;
    background-image: url('images/court.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-background h1{
    background-color:#f7f4f3;
    padding: 5px;
    border-radius: 2px;
}

.create-form {
    margin: 25px;
    background-color: #040f16;
    border: 1px solid #f7f4f3;
}

.create-button {
    width: 100%;
    border: none;
    background-color:#666a86;
    color:#f7f4f3
}
.create-button:active{
    width: 100%;
    border: none;
    color:#666a86;
    background-color:#f7f4f3
}

.create-item{
    margin: 5px;
    border: 5px solid #fa8334;
    background-color: #f7f4f3; 
    border-radius: 2%;
}

.nav{
    background-color: #fa8334;
    outline: 1px solid #040f16;
}

.nav-link{
    color: #040f16;
}

.nav-link:hover{
    color: #666a86;
}

.join-background{
    display:flex;
    flex-direction: row;
    height: 100vh;
    background-image: url('images/court.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.join-card {
    margin: 5px;
    height: fit-content;
}

.join-title {
    background-color: #fa8334;
    color:#f7f4f3;
}

.join-delete {
    color: #666a86;
    text-decoration:none;
}

.join-delete:hover{
    color:#fa8334;
}