* {
    padding: 0px;
    margin: 0px;
    color:#040f16;
    font-family: 'Noto Sans', sans-serif;
}

.home-background {
    height: 100vh;
    background-image: url('images/basketball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-hero{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 80vh;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ url('images/IMG-5224.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    border: solid #040f16 10px;
    border-radius: 20%;
}

.home-text {
    background-color: #f7f4f3;
}


.create-background {
    height: 100vh;
    background-image: url('images/court.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-background h1{
    background-color:#f7f4f3;
    padding: 5px;
    border-radius: 2px;
}

.create-form {
    margin: 25px;
    background-color: #040f16;
    border: 1px solid #f7f4f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-button {
    width: 100%;
    border: none;
    background-color:#666a86;
    color:#f7f4f3
}
.create-button:active{
    width: 100%;
    border: none;
    color:#666a86;
    background-color:#f7f4f3
}

.create-item{
    margin: 5px;
    border: 5px solid #fa8334;
    background-color: #f7f4f3; 
    border-radius: 2%;
}

.create-text{
    width: fit-content;
    background-color: #ffd0c0;
    border: none;
}
.nav{
    background-color: #fa8334;
    outline: 1px solid #040f16;
}

.nav-link{
    color: #040f16;
}

.nav-link:hover{
    color: #666a86;
}

.join-background{
    display:flex;
    flex-direction: row;
    height: 100vh;
    background-image: url('images/court.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.join-search{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 2px;
}

.join-search form{
    background-color: #f7f4f3;
    padding: 5px;
    border-radius: 5px;
}
.join-card {
    margin: 5px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.join-title {
    background-color: #fa8334;
    color:#f7f4f3;
}

.join-delete {
    color: #666a86;
    text-decoration:none;
}

.join-formatting{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.join-delete:hover{
    color:#fa8334;
}
.participants{
    background-color:#666a86;
    color:#f7f4f3;
}
.join-title-text{
    text-decoration: none;
    color:#f7f4f3;
    float:left;
}

.user-games{
    display:flex;
    flex-direction: column;
    background-color: #f7f4f3;
    border: 2px solid #040f16;
}

.user-games h1{
    color:#040f16;
    margin: 5px;
    text-align: center;
    border-radius: 2px;;
}

.other-games{
    display: flex;
    flex-direction: row;
}

.edit-stats{
    background-color: #fa8334;
    color:#f7f4f3;
    border:none;
    text-decoration: none;
}

.edit-stats:hover{
    background-color: #f7f4f3;
    border: none;
    color:#fa8334;
}
.stats-background{
    background-color: #fa8334;
    height: 100%;
    width: 80%;
    padding:5px;
    margin: 5px;
    color:#f7f4f3;
    border: 1px solid #040f16;
    border-radius: 3px;
}
.stats-form{
    margin: 5px;
}

.stat-input{
    width: 50px;
    border: none;
    background-color: #f7f4f3;
    color:#040f16;
}
.signin-background{
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('images/outdoor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.my_forms{
    background-color: #f7f4f3;
    border: 1px solid #040f16;
    padding: 5px;
    border-radius: 2%;
    height: fit-content;
}

.my_forms div{
    padding: 5px;
}

.profile-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 5%;
    background-image: url('images/basketball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.profile-friends{
    background-color: #f7f4f3;
    width: 15%;
    border: 3px solid #040f16;
    border-radius: 5px;
    background-image: url('images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    text-align:center;
}

.profile-formatting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-stats{
    background-color: #f7f4f3;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #040f16;
    border-radius: 5px;
    background-image: url('images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    padding: 5px;
}

.p-head{
    display:flex;
    flex-direction: row;
    padding: 5px;
}

.profile-achieve{
    background-color: #f7f4f3;
    width: 15%;
    border: 3px solid #040f16;
    border-radius: 5px;
    background-image: url('images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

.user-table{
    background-color: #666a86;
    border-collapse: collapse;
    margin: 5px;
    border: 2px solid #040f16;
}
.user-table td{
    padding: 5px;
}
.user-table th{
    padding: 5px;
    text-align: center;
}
.user-table tr:nth-child(even){
    background-color: #fa8334;
}

.user-table tr:nth-child(odd){
    background-color: #f79c60;
}