{% extends 'base.html' %}
    {% block title %}
        Pokemon
    {% endblock %}

    {% block content %}
    <div id="pokepage">
        <div>
            <form action="" method="POST" class="my_forms">
                {{ pokeform.hidden_tag() }}
                {{ pokeform.pokemon.label }}
                {{ pokeform.pokemon }}
                {{ pokeform.submit_btn(class="btn btn-outline-dark") }}
            </form>
        </div>
        {% if pokemon_data %}
        <div>
            <img src='{{pokemon_data.sprite}}'>
            <a href="{{ url_for('main.catch', poke_name=pokemon_data.name)}}" id="pokebutton">Catch</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}