{% extends 'base.html' %}

{% block title %}
    Pokemon Team
{% endblock %}

{% block content %}
    {% for pokemon in team%}
    <div class="pokecard">
        <div class="poketitle">
            <p>{{pokemon.name}}</p>
            <p style="font-size:small">XP: {{pokemon.base_xp}}</p>
        </div>
        <img src='{{pokemon.sprite}}'>
        <p>Ability: {{pokemon.ability}}</p>
    </div>
    <a href="{{ url_for('main.release', poke_id = pokemon.id)}}" class="btn btn-primary">Release</a>
    {% endfor %}
{% endblock %}