{% extends 'base.html' %}

{% block title %}
    Trainers
{% endblock %}

{% block content %}
<div class="trainers">
    {% for trainer in trainers %}
    <div class="trainercard">
        <div>
            <h3>Trainer {{trainer.first_name}}</h3>
            <div>
                <p>Pokemon</p>
                {% for pokemon in trainer.caught.all() %}
                <div>
                    <p>{{pokemon.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if trainer.id != current_user.id %}
            <a href="{{url_for('main.battle', defender = trainer.id)}}" class ="btn btn-primary my_button" style="height:40px;">Battle</a>
        {% endif %}
    </div>
    
    {% endfor %}
</div>
{% endblock %}